body {
  font-family: arial
}

table#inputs {
  width: 100%;
}

textarea {
  width: calc(100% - 6px);
  height: 300px;
  margin-top: 20px;
}

button {
  border-radius: 5px;
  border: none;
  padding: 20px;
  line-height: 0;
  text-transform: uppercase;
}

table#inputs td {
  text-align: left;
  width: 40%;
  padding: 50px;
  background: whitesmoke;
}

table#inputs td#alignButtonWrapper {
  width: 80px;
}

table#inputs h4 {
  margin-top: 0px;
  font-size: 35px;
}

table#inputs {
  width: 100%;
}

table#inputs td {
  text-align: center;
  width: 40%;
  vertical-align: middle;
}

table#inputs td#alignButtonWrapper {
  width: 80px;
}

table#inputs h4 {
  margin-top: 0px;
}

#alignButton {
  height: 40px;
}

#aligning {
  color: #428bca;
  font-style: italic;
  margin-top: 10px;
}

#aligning.hidden {
  display: none;
}

#alignmentResults {
  font-family: monospace;
  font-size: 14px;
  background: whitesmoke;
  margin-top: 10px;
  padding: 10px 40px 30px 10px;
  min-height: 40px;
}

.segment {
  border: 1px solid #aaa;
  position: relative;
  margin-top: 15px;
  height: 25px;
  box-shadow: 5px 5px 8px #888;
}

.word {
  background-color: #e20808;
  position: absolute;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  color: white;
  border: 1px solid black;
}

.time {
  border-left: 1px solid #f00;
  position: absolute;
  text-align: center;
  height: 10px;
  top: 0px;
  padding-left: 7px;
  color: white;
}

.time.total {
  font-size: 19px;
  position: relative;
  background: black;
  color: white;
  display: block;
  border: none;
  padding: 21px;
  left: 2px;
  width: calc(100% - 2px);
}
